@CHARSET "UTF-8";
.categoryDiv {
	background-color:White;
	border:1px dotted #8B8D72;
	color:#4B4B4B;
	font-size:13px;
	padding:20px;
}

.listCategoryDiv {
	width: 100%;
}
#inputArea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    background-color: #d6e5f4;
    padding: 10px;
    /*width:310px;*/
    width:100%;
}
#inputArea input, #inputArea textarea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    /*width: 300px;*/
    width:98%;
}

.activeField
{
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}
.idle
{
	border: solid 1px #85b1de;
	background-image: url( '../image/blue_bg.png' );
	background-repeat: repeat-x;
	background-position: top;
}

/*This section for validate*/
input,textarea,select {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	padding: 1px;
}

input.error {
	border: 1px dotted red;
}

label.error {
	color: red;
	font-style: italic;
}
#commentForm label{
	font-size: 13px;
}
#commentForm label.error,#commentForm input.submit {
	/*this make style better*/
	margin-left: 25px;
}
