@CHARSET "UTF-8";

#tagcloud,#tagcloudwithstyle2{
    width: 100%;
    background:#FFFFFF;/*#FFFFCC;*/
    /*padding: 10px;*/
    border: 1px solid #FFE7B6;
    text-align:center;
    font-family:'Trebuchet MS',Arial,Verdana,sans-serif;
    line-height:250%;
}

#tagcloud a:link, #tagcloud a:visited {
    text-decoration:none;
    color: #87A800;
}

#tagcloud a:hover, #tagcloud a:active {
    color: #FFFFFF;
    background-color: #87A800;
}

#tagcloud span, #tagcloudwithstyle2 span{
    padding: 4px;
}

#tagcloudwithstyle2 a:link, #tagcloudwithstyle2 a:visited {
    text-decoration:none;
    color: #ff4500;
}

#tagcloudwithstyle2 a:hover, #tagcloudwithstyle2 a:active {
    color: #FF3300;
    background-color: #ffff00;
}
.smallest {
    font-size: 10px;
}

.small {
    font-size: 15px;
}

.medium {
    font-size: 20px;
}

.large {
    font-size: 25px;
}

.largest {
    font-size: 30px;
}


